body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #ffffff;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: rgb(7, 7, 7);
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

